html{
    font-family: 'Sen', sans-serif;
}

body{
    margin: 0px;
}

section{
    padding: 5vh 20vw;
    color: rgba(0,0,0,0.6);
}

/* Code for Landing Section */
.landing-section{
    padding: 10vh 20vw;
    max-height: 100vh;
    min-height: 80vh;
    font-size: 2.5rem;
    /* color: rgba(0,0,0,0.6); */
}

.intro-hello, .intro-tagline{
    font-weight: normal;
}

.intro-contact{
    font-size: 1.25rem;
}

.highlight-link{
    text-decoration: none;
    border-bottom: 3px solid #007bff;
    color: inherit;
    padding: 2px 3px;
}

@media only screen and (max-width: 500px) {
    section{
        padding: 5vh 15vw;
        color: rgba(0,0,0,0.6);
        font-size: 1rem;
    }

    .landing-section{
        padding: 20vh 10vw;
        font-size: 1.25rem;
    }
    
    .intro-contact{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 380px) {
    .landing-section{
        padding: 10vh 10vw;
        font-size: 1.25rem;
    }
}




/* Code for background section */
.background{
    line-height: 1.6;
}

.section-heading{
    color:#007bff;
    font-size: 2.5rem;
}

@media only screen and (max-width: 380px) {
    .section-heading{
        color:#007bff;
        font-size: 1.5rem;
    }
}



/* code for skills */
.skills{
    line-height: 1.6;
}

/* code for certifications */
.certifications{
    line-height: 1.6;
}

/* code for projects */
.projects{
    padding-bottom: 10vh;
}

.project-card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    gap:15px;
}

.project-card{
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 30vh;
    background-color:white;
    padding: 2rem 1.75rem;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@media only screen and (max-width: 500px) {
    .projects{
        padding: 5vh 10vw;
    }
    .project-card-grid{
       grid-template-columns: auto;
    }

    .project-card{
       height: auto;
    }
}
